<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Your Course App</h1>

  <h2>
    This is the home page for the RAD Assignment 1
  </h2>
          <%= link_to '<button class="btn btn-lg btn-primary signupBtn" type="button">
        <span class="glyphicon glyphicon-cog"></span> Sign up now!
        </button>'.html_safe, '#' %>
</div>

<div class="center jumbotron">
  <h1>Kitty Show</h1>
  <p>The cat is cute and she likes to sleep all day</p>


</div>
