<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Rigister') %>
<h1 class = "allco">Coordinator Register</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= render 'form' %>
  </div>
</div>
<br><br>