@import "bootstrap-sprockets";
@import "bootstrap";

.catelo{
  margin: auto;
  padding: auto;
}

.greyback{
  padding: 30px;
  background-color: #ECECEC;
  border-radius: 8px;
}

.noresize{
  resize: none;
}

.coname{
  font-size: 1.5em;
  font-weight: bold;
}
.couser{
  margin-bottom: 20px;
}
.bo{
  border-bottom: 1px solid #DADADA;
}
.infoback{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #DADADA;
  padding-left: 30px;
  padding-bottom: 30px;
  max-width: 500px;
  border-radius: 8px;
}

.user{
  background-color: #FF5F52!important;
  text-decoration: none!important;
  border-radius: 8px
  color #ffffff;
}

.user:hover{
  background-color: #FFA19A!important;
  text-decoration: none!important;
}

.user:focus, .user:active{
  color: #12C8FF!important;
  background-color: #BA261A!important;
  text-decoration: none!important;
}

.listcenter{
  margin: auto;
}

th{
  padding-left: 20px;
}

th *{
  border-radius: 100px;
  height: 150px;
  width: 150px;
}

.allco{
  font-weight: bold;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 30px;
}

.tableIdx td{
  padding-right: 50px;
}

.browseBtn{
  margin-bottom: 30px;
  background-color: #1CCC13;
}

.browseBtn:hover{
  background-color:#65FF17;
}

.browseBtn:focus, .browseBtn:active{
  background-color:#08A100!important;
}

.index-cen{
  background-color: #ffffff;
}

.index-cen label{
  margin-right: 50px;
}

.index-cen h3{
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
  margin-top: 0;
}
.index-cen h2{
  font-size: 1em;
  text-align: left;
}

.signupBtn{
  background-color:#FF5F52;
}

.signupBtn:hover{
  background-color:#FFA19A;
}

.signupBtn:focus, .signupBtn:active{
  background-color:#BA261A!important;
}

.dropdown{
  background-color:#12C8FF;
  margin-right: 30px;
  font-size: 1em;
  color: #ffffff;
  padding:1px 1px;
  border-radius: 8px;
  font-weight: bold;
}

a.dropdown-toggle:hover{
  background-color: #8FE5FF!important;
  text-decoration: none!important;
}

a.dropdown-toggle:focus{
  background-color: #0099FF!important;
  text-decoration: none!important;
}


.login{
  margin-right: 15px;
  background-color: #12C8FF;
  border: none;
  padding: 16px 10px;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  font-size: 1em;
  border-radius: 8px;
}

.login:hover{
  background-color: #8FE5FF;
  text-decoration: none;
}

.login:focus, .login:active{
  color: #12C8FF;
  background-color: #DADADA;
  text-decoration: none;
}

.navbar{
  border:none;
  background-color:#ffffff;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  background-color:#12C8FF;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 10px 32px;
  border-radius: 8px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

// footer
footer.jumbotron{
  margin-bottom: 0;
  border-radius: 8px;
}

.pull-right{
  align: right;
}

.sendbtn{
  background-color: transparent;
  color: #000000;
  font-weight: 200px;
  width: auto;
  height: auto;
  border: none;
}

.boxp {
  margin: 0;
  font-size: 1em;
  text-align: left;
	color: #6a6a6a;
	text-decoration: none;
}

.enter{
  background-color: transparent;
  border-radius: 8px;
  border: none;
  border-bottom: 1px solid #000000;
  resize: none;
  
}

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.regbtn{
  background-color: #1CCC13;
}

.regbtn:hover{
  background-color:#65FF17;
}

.regbtn:focus, .regbtn:active{
  background-color:#08A100!important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

a:hover +span+ i, /* when link is hovered select i */
a + span:hover+ i, /* when space after link is hovered select i */
a + span + i:hover { /* when icon is hovered select i */
  visibility: visible;
  font-size: 1.5em;
}

a +span+ i { /* in all other case hide it */
  visibility: hidden;
}

